<!DOCTYPE html>
<html>
    <head>
        <title>
            About
        </title>
        <link href="/img/weather.png" rel="icon">
          <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <p>This website was created by Shivang Agarwal.It uses data from openweather and mapbox.com</p>
        <img class='portrait' src="/img/download.jpeg">
        </div>
        {{>footer}}
    </body>
</html>