<!DOCTYPE html>
<html>
    <head>
        <title>
            Error
        </title>
        <link href="/img/weather.png" rel="icon">
          <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        <h1>{{message}}</h1>
        {{>header}}
        </div>
        {{>footer}}
    </body>
</html>